{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row firstcolumn">
    <div class="col-md-8">
       <img src="static/images/jumprope.jpg" class="img-rounded img-fluid" alt="jump rope">
    </div>
    <div class="col-md-4 secondcolumn">
      <h1>Jump Rope</h1>
      <hr>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum purus in massa posuere, in euismod dolor rutrum. Aenean varius vehicula turpis, non mattis mi viverra ut. Suspendisse a odio id lacus mattis volutpat. Cras sodales sodales congue. Proin pretium placerat mauris. Proin leo mi, pulvinar quis malesuada sed, semper vel risus.
        Aenean cursus mauris ut nulla laoreet molestie. Phasellus in ullamcorper ligula, ut maximus augue. Fusce nec nisl congue, sodales lorem sit amet, maximus diam. Morbi maximus rutrum felis, quis faucibus metus ornare id. Nunc in dui porttitor dui convallis mattis sit amet id mauris. Praesent sit amet dui et ipsum aliquam venenatis sed vel turpis. Duis congue ligula congue velit cursus vehicula. Phasellus cursus ex euismod pretium vehicula. Suspendisse potenti. Duis vulputate tempus ex, et condimentum lorem faucibus a.</p>
    </div>
  </div>
</div>
{% endblock %}
