{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row firstcolumn">
    <div class="col-md-4">
       <img src="static/images/profile.jpg" class="rounded-circle img-fluid" alt="profile picture">
    </div>
    <div class="col-md-8 secondcolumn">
      <h1>Hello, I'm Mike - Welcome to my page</h1>
      <hr>
      <p>This page is designed to provide content of things of interest to me and hopefully, to you as well.
      My interests mainly consists of video games, healthy eating, and working out. Yes...this may seem like a strange
    combination of interests but I am sure I am not the only one with these interests. Feel free to browse the
  number of subjects - from video games category to different dietary types</p>
    </div>
  </div>
</div>
{% endblock %}
