{% extends "layout.html"%}
{% block content%}
<div class="container-fluid">
  <div class="row firstcolumn">
    <div class="col-md-4">
      <h1>The Witcher</h1>
    <div class="thumbnail">
      <a href="https://www.gamespot.com/the-witcher-3-wild-hunt/reviews/" target="_blank">
        <img src="static/images/the-witcher.jpg" alt="the  witcher" style="width:100%">
        <div class="caption">
          <p>The witcher is easily one of the best RPG ever to be released. I played through the lengthy games
          once but it was very rewarding and filled with many exciting things to do.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <h1>Fallout 4</h1>
    <div class="thumbnail">
      <a href="https://www.gamespot.com/fallout-4/" target="_blank">
        <img src="static/images/fallout.jpg" alt="fallout" style="width:100%">
        <div class="caption">
          <p>Enjoyed playing Fallout 4. I was lost in this game for a long time. I still felt there were so many things
          left in the game that I did not complete</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <h1>Skyrim</h1>
    <div class="thumbnail">
      <a href="https://www.ign.com/articles/2011/11/10/the-elder-scrolls-v-skyrim-review" target="_blank">
        <img src="static/images/skyrim.jpg" alt="skyrim" style="width:100%">
        <div class="caption">
          <p>This is the game that introduced to me to the RPG world. The crafting of times and the amount of things
          to do in this game is simply astounding</p>
        </div>
      </a>
    </div>
  </div>
  </div>
</div>
{% endblock %}
